<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".applications.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.smscourier">
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.smscourier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.foreground.MasterService"
            android:exported="false"
            android:foregroundServiceType="remoteMessaging"
            android:stopWithTask="false" />

        <service android:name=".services.background.SmsService" />

        <receiver
            android:name=".receivers.PairingActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="dev.notyouraverage.smscourier.ACTION_APPROVE_PAIRING" />
                <action android:name="dev.notyouraverage.smscourier.ACTION_REJECT_PAIRING" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.ServiceNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="dev.notyouraverage.smscourier.NOTIFICATION_DISMISSED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
